/* nascore - 页脚样式 */

.footer {
  min-height: 4rem;
  color: var(--text-secondary);
  padding: 1rem 2rem;
}

.footer p {
  text-align: right;
  margin: 0;
}

/* 响应式布局适配 */
@media (max-width: 992px) {
}

/* 暗色主题适配 */
:root[data-theme='dark'] .footer {
  color: var(--text-sidebar);
}
